/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top : 40px;
  background: red;
}

.container {
  background: transparent;
}

#items .image-container {
  width: 30%;
}

#items .image {
  height:100%;
  width:90%;
  margin-top:5px;
  margin-left:5px;
}

#items .item-container {
  background: white;
  border-radius: 10px;
  border: 1px solid #AAA;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 1px;
}

#items .item-container .user-info {
  margin:0px 0px 10px 10px;
}

#items .item-body {
  width: 65%;
}

#items h3 {
  width: 100%;
}

#items .item-data {
  margin: 10px;
  font-size: 1.2em;
}

#items .item-data div {
  margin-right: 10px;
}

#detail{
  background: white;
  border-radius: 10px;
  border: 1px solid #AAA;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 1px;
}

#detail h1 {
  margin: 10px;
}

#comments {
  margin:10px;
}

#comments .comment-info {
  margin-bottom: 5px;
}

.rating .star {
  height: 24px;
  width: 24px;
}

.rating .point {
  background-image: url('/assets/star.png');
}

.rating .no-point {
  background-image: url('/assets/star_white.png');
}

.rating .changeable {
  cursor: pointer;
}

#map #map-container {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

#calendar {
  margin:10px;
  padding:10px;
  border-radius:10px;
  background-color:#f7f7f7;
  border: 1px solid black;
}

#sunPositions .seasonContainer {
  float: left;
}
