
<li><div><input type"text" id="search_finn_id" class="search-query" placeholder="Enter finnkode..." />
  <a id="search_finn" class="btn" style="margin-bottom:5px;">Import</a>
  <span class="navbar-text" id="search_error" style="color:#DD0000;"></span></div></li>
