
<div id="sunPositions">
  <div style="float:left;">
    <h5>See sun position in:</h5>
  </div>
  <% seasons.each do |season| %>
    <div class="seasonContainer">
      <a href="<%= season.suncalc_href %>" target="_blank">
        <img src="<%= "/assets/#{season.name.downcase}.png" %>" />
        <%= season.name %>
      </a>
    </div>
  <% end %>
  <div style="clear:both;"></div>
</div>
